@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
body{
 font-family: 'Roboto', sans-serif;
 -webkit-font-family:sans-serif;
}
main{
    display: flex;
    background-color: white;
}
.section1{
    width: 30%;
    float: left;
    text-align: center;  
    color: #0a1b2b;
}
.sec1A{
    margin-top: -50px;
    margin-left: 100px;
}
.button {
    background-color: #0a1b2b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }
  .button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .section2{
    width: 70%;
    float:left;
    text-align: center;  
    color: white;
    display: inline-block;
    border-radius: 25% 0% 25% 0%;
    padding-right: 20px;
    background-color: #0a1b2b; 
    margin: 20px;
    margin-right: 40px;
    margin-top: 30px;
}
.sec2h1{
    text-decoration: underline;
    padding-top: 40px; 
}
.sec2A{
    font-size: larger;
    background-color: white;
    border-radius: 25% 0% 25% 0%;
    color:#0a1b2b ;
    width: 850px;
    height:510px;
    margin: 0.5%;
}
.sec2B{
    width: fit-content;
    margin: 10%;

}
label {
    margin-top: 1rem;
}
.label{
    padding: 20px;
    float: left;
    text-align: center;
}
.logo{
    width: 300px;
    height: 300px;
    margin: 80px 0px 0px 0px;
}